body{
    font-family: monospace;
}
tr{
    font-family: helvetica;
}
th{
    table-layout: circle;
}
.table {
   table-layout: square;
}

#msg {

    font-family: monospace;
    
    }


.dark-theme{
    color: #FFFFFF;
    background: #000000;
}