* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #06117081;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  
}
.container{
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 20px;
    margin-top: 150px;
    
}

body h1{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    min-height: 70px;
    text-transform: uppercase;
    font-size: 30px;
    
}


button.a{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #dd3245;
    color: white;
    width: 200px;
    height: 50px;
}
button.b{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2125f5e0;
    color: white;
    width: 200px;
    height: 50px;
}
button.c{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #b88e05;
    color: white;
    width: 200px;
    height: 50px;
}
button.d{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #229406;
    color: white;
    width: 200px;
    height: 50px;
}